/* padding-left & padding-right */
/* el width de chico debe ser de ... */
.clasico-chico-azul {
  background-color: #1c1c8a;
  width: 150px;
  height: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
  font-size: 14px;
}
.clasico-mediano-rojo {
  background-color: #8a1c1c;
  width: 190px;
  height: 52px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}
.clasico-grande-amarillo {
  background-color: #e5e167;
  width: 250px;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 8px 14px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}

.container {
  display: flex;
  width: 350px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #afafaf;
  background-color: #e0e0e0;
  border-radius: 5px;
  gap: 50px;
  margin: 5%;
}

body {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
}

.moderno-chico-azul {
  background-color: #1c1c8a;
  width: 150px;
  height: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
  font-size: 14px;
}
.moderno-mediano-rojo {
  background-color: #8a1c1c;
  width: 190px;
  height: 52px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}
.moderno-grande-amarillo {
  background-color: #e5e167;
  width: 250px;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}

.divertido-chico-azul {
  background-color: #1c1c8a;
  width: 150px;
  height: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
  font-size: 14px;
}
.divertido-mediano-rojo {
  background-color: #8a1c1c;
  width: 190px;
  height: 52px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}
.divertido-grande-amarillo {
  background-color: #e5e167;
  width: 250px;
  height: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  padding: 8px 14px;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 6px 1px rgb(105, 105, 105);
}/*# sourceMappingURL=botones.css.map */