#Batman {
  text-align: center;
  background-color: #e6e6e6;
  background-;
}

#Titulo-principal {
  text-align: center;
}

.fechas {
  font-weight: bold;
}

h2, h1 {
  background-color: #c4c4c4;
  color: #005677;
}

h3 {
  background-color: #005677;
  color: #ffffff;
  text-align: center;
}
span {
  font-weight: bold;
}