/* Estilos del HEADER */

header {
    background-image: url('https://images.unsplash.com/photo-1560958089-b8a1929cea89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    /* COVER hace que la imagen complete el ANCHO */
    /* CONTAIN hace que la imagen complete el ALTO */
    background-position: 40% 80%;
    height: 450px;
}